
.cont{
    height: 667px;
    position: relative;
    background-color: #e350da;
    background-image: 
        radial-gradient(at 47% 33%, hsl(271.91, 99%, 54%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
 }
 .cont .btn-cont{
    position: absolute;
    bottom: 21px;
    right: 9px;
 }
 .btn-cont{
    width: 95%;
    height: 87%;
    /* background-image: url('https://images.pexels.com/photos/1004409/pexels-photo-1004409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    font-size: x-large;
    background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.5px );
-webkit-backdrop-filter: blur( 0.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
